@import 'normalize';

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

span {
	display: block;
}

button {
	display: block;
	cursor: pointer;
	border: none;
}

button, input, select, option, textarea {
	font-family: 'Poppins', sans-serif;
}

.container {
	width: 100%;
	max-width: 1168px;
	margin: 0 auto; 
}

.header {
	width: 100%;
	padding: 24px 0;
	background: #181818;	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	vertical-align: middle;
}

.nav {
	display: flex;
	align-items: center;
}

.nav__link {
	font-size: 15px;
	line-height: 20px;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
	position: relative;

	max-width: 100%;
	padding: 2px 12px;
	margin-right: 8px;

	&:first-child {
		font-size: 13px;
		margin-right: 44px;
	}

	&:nth-child(4) {
		margin-right: 20px;
	}

	&:hover {
		.nav-text {
			transform: translate3d(0px, -150%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);

			&-up {
				transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);	
			}
		}
	}
}

.nav-text {
    transform-style: preserve-3d;
	transition: all .4s ease;

	&-up {
		position: absolute;
		transform: translate3d(0px, 150%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    	transform-style: preserve-3d;
		transition: all .4s ease;
	}
}

.btn-header {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.4px;
	
	color: #000;
	background: #fff;
	border-radius: 14px;
	
	position: relative;
	padding: 9px 20px 13px;

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&:hover {
		.btn-text {
			transform: translate3d(0px, -220%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);

			&-up {
				transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
			}
		}
	}
}

.btn-text {
	position: relative;
    transform-style: preserve-3d;
	transition: all .3s ease;
	z-index: 1;

	&-up {
		position: absolute;
		transform: translate3d(0px, 220%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    	transform-style: preserve-3d;
		transition: all .3s ease;
		white-space: nowrap;
		z-index: 2;
	}
}

.header__burger {
	display: none;
}

.hero {
	height: 100vh;
	padding-bottom: 40px;
	background: url('../img/hero/hero.jpg') no-repeat center 
		/ cover fixed;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.hero__content {
	width: 100%;
	max-width: 580px;
	text-align: center;
	margin: 0 auto;
}
	
.hero__suptitle {
	color: #c0c0c0;
	margin-bottom: 1px;
}

.suptitle {
	font-size: 14px;
	font-weight: 40;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
}

.hero__title {
	font-size: 54px;
	font-weight: 400;
	line-height: 60px;
	color: #fff;

	margin-bottom: 18px;
}

.text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #c0c0c0;
}

.hero__footer {
	margin: 14px 40px 0 0;
}

.hero__items {
	display: flex;
	align-items: center;
}

.hero__item {
	display: flex;
	margin-right: 16px;

	&:last-child {
		margin-right: 0;
	}
}

.hero__desc {
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	color: #fff;

	margin-left: 6px;
}

.specialize {
	background: #000;
	padding: 113px 0 100px;
}

.specialize__header {
	text-align: center;
	margin-bottom: 42px;
}

.specialize__title {
	margin-bottom: 15px;
}

.title {
	font-size: 40px;
	font-weight: 400;
	line-height: 42px;
	color: #fff;
}

.specialize__desc {
	font-size: 23px;
	font-weight: 400;
	line-height: 30px;
	color: #c0c0c0;
}

.specialize__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 16px;
}	

.specialize__item {
	width: 100%;
	max-width: 576px;
	position: relative;

	&:hover {
		.specialize__img {
			opacity: 1;
		}

		.specialize__content {
			opacity: 1;
		}
	}
}

.specialize__img {
	opacity: 0.8;
	transition: all .2s linear;
}

.specialize__content {
	width: 100%;
	max-width: 501px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
	transition: all .3s linear;
	opacity: 0;
}

.specialize__suptitle {
	margin-bottom: 6px;
}

.specialize__text {
	height: 80px;
	margin-bottom: 15px;
}

.btn {
	width: 100%;
	height: 32px;
	max-width: 139px; // - 4px
	position: relative;

	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.4px;

	color: #000;
	background: #fff;
	transition: all .2s ease;
	padding: 5px 0 5px 4px;
	border-radius: 14px;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	img {
		margin-right: 9px;
	}

	p {
		transition: all .2s ease;
	}

	&:before {
		content: '';
		width: 96%;
		height: 96%;
		position: absolute;
		top: -0;
		left: 0;
		z-index: 1;

		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.6);
		transition: all .5s ease;	
		border-radius: 14px;
	}

	&:hover {
		background: #eee;

		p {
			transform: translateY(-3px);
		}
		
		&:before {
			transform: scale(1.4);
			opacity: 0;
		}
	}
}

.sunset {
	height: 100vh;
	position: relative;
	background: url('../img/sunset.jpg') no-repeat center 
		/ cover fixed;

	display: flex;
	align-items: center;
}

.sunset__content {
	width: 100%;
	max-width: 298px;
	padding-right: 62px;
	margin-left: auto;
}

.sunset__footer {
	position: absolute;
	right: 40px;
	bottom: 40px;
}

.tools {
	background: #000;
}

.tools__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tools__left {
	width: 100%;
	max-width: 514px;
	margin: 0 auto;
}

.tools__suptitle {
	color: #c0c0c0;
	margin-bottom: 6px;
}

.tools__title {
	font-size: 28px;
	font-weight: 400;
	line-height: 32px;
	color: #fff;
}

.tools__text {
	color: #fff;
	margin: 14px 0 20px;
}

.btn-tools {
	max-width: 148px;
}

.tools__right {
	width: 50%;
	height: 540px;
	// max-width: 720px;
	position: relative;
	background: url('../img/tools.jpg') no-repeat right;
}	

.leafs {
	height: 100vh;
	position: relative;
	background: url('../img/leafs.jpg') no-repeat center 
		/ cover fixed;
	
	display: flex;
	align-items: center;
}

.leafs__content {
	width: 100%;
	max-width: 273px;
	padding-right: 87px;
	margin-left: auto;
}

.clients {
	background: #000;
	padding: 113px 0 140px;
}

.clients__header {
	margin-bottom: 80px;
}

.clients__logos {
	display: flex;
	justify-content: space-between;
	align-items: center;

	img {
		cursor: pointer;
	}
}

.starfall {
	height: 100vh;
	position: relative;
	background: url('../img/starfall.jpg') no-repeat center 
		/ cover fixed;

	display: flex;
	align-items: center;
}

.starfall__content {
	width: 100%;
	max-width: 254px;
	padding-right: 106px;
	margin-left: auto;
}

.touch {
	background: #000;
	padding: 113px 0 108px;
}

.touch__content {
	width: 100%;
	max-width: 571px;
	text-align: center;
	margin: 0 auto;
}

.touch__text {
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	color: #c0c0c0;

	margin: 15px 0 22px;
}

.btn-touch {
	margin: 0 auto;
	max-width: 150px;
}

.footer {
	padding: 100px 0;
	background: #000;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 36px;
}

.footer__logo {
	margin-bottom: 20px;
}

.footer__text {
	font-size: 13px;
}

.footer-navs {
	display: flex;
}

.footer-nav {
	width: 220px;

	&:first-child {
		margin-right: 16px;
	}
}

.footer-nav__title {
	color: #c0c0c0;	
	margin-bottom: 10px;
}

.footer-nav__link {
	margin-bottom: 10px;

	a {
		color: #fff;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		text-decoration: underline;
	}
}

.footer__newsletter {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;
	padding: 36px 0;
	margin-bottom: 56px;

	&:before,
	&:after {
		content: '';
		width: 100%;
		height: 2px;
		background: #fff;
		position: absolute;
		left: 0;
		z-index: 1;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}

.footer__suptitle {
	color: #fff;
	margin-bottom: 20px;
}

.footer-input {
	position: relative;
}

.footer__input {
	width: 446px; // - 12px
	height: 30px; // - 22px 
	background: #f9fafb;
	border-radius: 12px;
	padding: 11px 6px;

	border: none;
	outline: none;
}

.footer__button {
	display: block;
	width: 63px;
	height: 30px;
	background: #000;
	border-radius: 11px;
	position: absolute;
	top: 50%;
	right: 6px;
	z-index: 2;
	transform: translateY(-50%);	
	transition: all .3s ease;

	&:hover {	
		background: #1b1b1b;
	}
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	span {
		display: inline-block;
		font-size: 13px;
	}
}

.footer__social {
	display: flex;
}

.social__link {
	width: 24px;
	height: 24px;
	margin-right: 20px;
	transition: all .2s ease;

	&:last-child {
		margin-right: 0;
	}
	
	&:hover {
		transform: translateY(-4px);
	}
}

/* --- Media --- */
@media screen and (max-width: 1200px) {
	.header__inner {
		padding: 0 10px;
	}

	.hero__content {
		margin: 0 auto 50px;
	}

	.specialize__items {
		justify-content: center;
		gap: 16px;
	}

	.specialize__item {
		height: 500px;
		max-width: 485px;
	}

	.specialize__content {
		max-width: 451px;
	}

	.specialize__img {
		width: 100%;
		height: 100%;
	}

	.specialize__text {
		height: auto;
	}

	.tools__left {
		padding: 0 10px;
	}

	.tools__right {
		width: 100%;
		object-fit: cover;
	}

	.clients__logos {
		padding: 0 20px;
	}

	.footer-nav {
		width: 210px;

		&:first-child {
			margin-right: 26px;
		}
	}

	.footer__top,
	.footer__bottom,
	.footer__newsletter {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 991px) {
	.nav__link {
		margin-right: 0;

		&:first-child {
			margin-right: 0;
		}
		
		&:nth-child(4) {
			margin-right: 3px;
		}
	}

	.hero__title {
		font-size: 50px;
	}

	.title {
		font-size: 37px;
		line-height: 41px;
	}

	.specialize {
		padding: 90px 0;
	}

	.specialize__desc,
	.touch__text {
		font-size: 22px;
	}

	.specialize__items {
		gap: 20px;
	}

	.specialize__item {
		height: 540px;
		max-width: 515px;
	}

	.specialize__content {
		max-width: 455px;
	}

	.tools__left {
		max-width: 380px;
		padding: 0 20px;
	}

	.tools__right {
		width: 100%;
		height: 500px;
		min-width: 420px;
	}
	
	.clients {
		padding: 90px 0 120px;
	}

	.clients__header {
		margin-bottom: 70px;
	}

	.clients__logos {
		padding: 0 12px;
	}

	.touch {
		padding-bottom: 90px;
	}

	.footer {
		padding: 80px 0;
	}

	.footer__left {
		width: 100%;
		max-width: 320px;
	}

	.footer-nav {
		&:last-child {
			width: 150px;
		}
	}

	.footer__input {
		width: 426px;
	}
}

@media screen and (max-width: 767px) {
	.header__inner {
		padding: 0 15px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 10;
		cursor: pointer;

		span {
			width: 100%;
			height: 2px;
			background: #fff;
			transition: all .3s ease;
			position: absolute;
			top: 9px;
			right: 0;
		}

		&:before,
		&:after {
			content: '';
			width: 100%;
			height: 2px;
			background: #fff;
			transition: all .3s ease;
			position: absolute;
			right: 0;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}

		&.active {
			span {
				transform: scale(0);
			}

			&:after {
				bottom: 9px;
    			transform: rotate(45deg);
			}

			&:before {
				top: 9px;
    			transform: rotate(-45deg);
			}
		}
	}

	.nav {
		display: flex;
		flex-direction: column;
		align-items: center;

		overflow: auto;
		visibility: hidden;
		background: #181818;
		transition-duration: 0.25s;
		padding: 100px 0;

		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		z-index: 10;

		&.active {
			visibility: visible;
    		left: 0;
		}
	}

	.nav__link {
		font-size: 18px;

		transition: all .2s ease;
		transition-duration: 0.25s;

		padding: 27px 0;
		margin: 0 !important;
		
		&:first-child {
			padding-top: 0;
			font-size: 18px;
		}

		&:hover {
			color: #ccc;

			.nav-text {
				transform: none;
			}
		}
	}

	.btn-header {
		transition: all .2s ease;

		&:hover {
			background: #ddd;

			.btn-text {
				transform: none;
			}
		}
	}

	.nav-text-up,
	.btn-text-up {
		display: none;
	}

	.hero {
		padding: 0 10px 30px;
	}

	.hero__content {
		margin-bottom: 60px;
	}

	.hero__title {
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 10px;
	}

	.hero__footer {
		margin-right: 30px;
	}

	.title {
		font-size: 33px;
		line-height: 37px;
	}

	.specialize {
		padding: 80px 0;
	}

	.specialize__item {
		height: 480px;
		max-width: 465px;
	}

	.specialize__content {
		max-width: 405px;
	}

	.sunset__content {
		padding-right: 52px;
	}

	.sunset__footer {
		right: 30px;
		bottom: 30px;
	}

	.tools__left {
		position: absolute;
		left: 50px;
		padding: 0;
		z-index: 2;
	}

	.leafs__content {
		padding-right: 77px;
	}

	.clients {
		padding: 70px 0 100px;
	}

	.clients__header {
		margin-bottom: 50px;
	}

	.starfall__content {
		padding-right: 76px;
	}

	.clients__logos {
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
	}

	.touch {
		padding: 80px 0;
	}

	.footer {
		padding: 60px 0;
	}

	.footer__top {
		gap: 23px;
		margin-bottom: 26px;
	}

	.footer__logo {
		margin-bottom: 15px;
	}

	.footer-nav {
		width: 181px;

		&:last-child {
			width: 136px;
		}
	}

	.footer__newsletter {
		gap: 20px;
	}

	.footer__suptitle {
		margin-bottom: 13px;
	}

	.footer__input {
		width: 340px;
	}

	.social__link,
	.social__link img {
		width: 20px;
		height: 20px;
	}
}

@media screen and (max-width: 575px) {
	.header {
		padding: 15px 0;
	}
	
	.hero__title {
		font-size: 35px;
		line-height: 40px;
	}

	.suptitle,
	.text {
		font-size: 13px;
	}

	.suptitle {
		line-height: 17px;
	}

	.text {
		line-height: 19px;
	}

	.hero {
		padding: 0 10px 20px;
	}

	.hero__footer {
		margin-right: 10px;
	}

	.title {
		font-size: 29px;
		line-height: 34px;
	}

	.specialize {
		padding: 65px 0;
	}

	.specialize__desc, 
	.touch__text {
		font-size: 20px;
		line-height: 28px;
	}

	.specialize__items {
		padding: 0 10px; 
	}

	.specialize__item {
		height: auto;
		max-width: 380px;
	}

	.specialize__content {
		width: auto;
		max-width: 325px;
		left: 20px;
		bottom: 20px;
		padding-right: 10px;
		transform: none;
	}

	.specialize__text {
		margin-bottom: 12px;
	}

	.btn {
		font-size: 14px;
		line-height: 19px;
		max-width: 129px;

		img {
			width: 30px;
			height: 30px;
			margin-right: 6px;
		}
	}

	.sunset__content {
		padding-right: 24px;
		padding-left: 10px;
	}

	.sunset__footer {
		right: 20px;
		bottom: 20px;
	}

	.tools__right {
		height: 490px;
		min-width: auto;
	}

	.tools__left {
		width: auto;
		left: 30px;
		padding-right: 15px;
	}

	.tools__suptitle {
		margin-bottom: 2px;
	}

	.tools__title {
		font-size: 26px;
		line-height: 30px;
	}

	.tools__text {
		margin: 12px 0 16px;
	}

	.btn-tools {
		max-width: 136px;
	}

	.leafs__content {
		padding-right: 57px;
		padding-left: 10px;
	}

	.specialize__title {
		margin-bottom: 12px;
	}

	.clients {
		padding: 60px 0 80px;
	}

	.clients__header {
		margin-bottom: 36px;
	}

	.clients__logos {
		img {
			width: 23%;
		}
	}

	.starfall__content {
		padding-right: 46px;
	}

	.touch {
		padding: 80px 0 70px;
	}

	.touch__content {
		max-width: 434px;
	}

	.touch__text {
		margin: 12px 0 16px;
	}

	.btn-touch {
		max-width: 138px;
	}

	.footer {
		padding: 50px 0 40px;
	}

	.footer__top {
		flex-wrap: wrap;
		gap: 30px 23px;
	}

	.footer__left {
		max-width: 300px;
	}

	.footer-navs {
		flex-wrap: wrap;
		gap: 16px 10px;
	}

	.footer-nav {
		margin-right: 61px;

		&:last-child {
			margin: 0;
		}
	}
	
	.footer__newsletter {
		flex-wrap: wrap;
		gap: 16px 10px;
		padding: 26px 10px;
		margin-bottom: 26px;
	}

	.footer__content {
		width: 100%;
		max-width: 210px;
	}

	.footer__suptitle {
		margin-bottom: 9px;
	}

	.footer__input {
		width: 270px;
	}

	.footer__bottom {
		flex-wrap: nowrap;
		gap: 20px;
	}

	.social__link, 
	.social__link img {
		width: 18px;
		height: 18px;
	}
}
